<!--==========================
     About Us Section
   ============================-->
<section id="about">
  <div class="container">
<!--    <div class="row about-container">-->

<!--      <div class="col-lg-6 content order-lg-1 order-2">-->
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
    <h2 class="title">O Que Oferecemos.</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore

        </p>

        <div class="icon-box wow fadeInUp">
          <div class="icon">
            <i class="fa fa-shopping-bag"></i>
          </div>
          <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
            soluta nobis est eligendi</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon">
            <i class="fa fa-photo"></i>
          </div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon">
              <em class="fa fa-bar-chart"></em>
            </div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat tarad limino ata</p>
          </div>
        </div>

        </div>

        <div class="col-lg-6 order-lg-2 order-1">

          <div class="collage wow fadeInRight">
            <!-- Top Set -->
            <a href="#">
              <img src="http://tympanus.net/Development/Stapel/images/6/7.jpg" alt="Collage Photo">
            </a>
            <a href="#">
              <img src="http://tympanus.net/Development/Stapel/images/4/14.jpg" alt="Collage Photo">
            </a>
            <a href="#">
              <img src="http://dribbble.s3.amazonaws.com/users/41738/screenshots/659951/dad-faces.jpg" alt="Collage Photo">
            </a>
            <a href="#">
              <img src="http://tympanus.net/Development/Stapel/images/7/8.jpg" alt="Collage Photo">
            </a>
            <a href="#">
              <img src="http://tympanus.net/Development/Stapel/images/3/4.jpg" alt="Collage Photo">
            </a>
          </div>
        </div>
      </div>

    </div>
</section>
<!--==========================
   About Us Section
 ============================-->
