<!--========================== Hero Section ============================-->
<section id="hero">

    <div class="hero-container text-center element-animate">
      <div class="container txt-block">
      <h1 class=" wow fadeInRight">Bem Vindo</h1>
      <h2 class=" wow fadeInLeft">Acampamento Batista Catarinense</h2>
      <a href="#about" class="btn-get-started">Conheca Mais</a>
    </div>
    </div>

</section>

<div class="container">
  <%= render @cta  %>
</div>
<!-- #hero -->

<!--
animation
moving hand with indicator finger swiping down to indicate User Swipe Down swipe down
svg,
  CSS,
    or
      JS
 -->
