<!--========================== Hero Section ============================-->
<section id="hero">

  <div class="hero-container text-center element-animate">
    <div class="container txt-block">
      <h1 class=" wow fadeInRight">Bem Vindo</h1>
      <h2 class=" wow fadeInLeft">Acampamento Batista Catarinense</h2>
      <a href="#about" class="btn-get-started">Conheca Mais</a>
    </div>
  </div>

</section>

<section id="about" class="page-section">
<div class="container-fluid">
<div class="row">
<div class="col  order-1"></div>

<div class="colorder-2">

</div>

</div>
</div>
</section>

<!--========================== About Us Section ============================-->
<section id="about" class="page-section">
  <div class="container about-container">
    <div class="row justify-content-md-center ">
    <h2 class="title">O Que Oferecemos.</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    </div>
  </div> 

  <div class="container about-container">

    <div class="row  ">

      <div class="col col-lg-6 content contain-box-1  order-1">
<DIV CLASS="about-container">>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon">
            <i class="fas fa-chess-queen"></i>
          </div>
          <h4 class="title">
            <a href="">Eiusmod Tempor</a>
          </h4>
          <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon">
            <i class="fas fa-restroom"></i>
          </div>
          <h4 class="title">
            <a href="">Magni Dolores</a>
          </h4>
          <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon">
            <i class="fas fa-wifi"></i>
          </div>
          <h4 class="title">
            <a href="">Dolor Sitema</a>
          </h4>
          <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
        </div>

      </div>
  <% collage = [
                "http://tympanus.net/Development/Stapel/images/6/7.jpg",
                "http://tympanus.net/Development/Stapel/images/4/14.jpg",
                "http://dribbble.s3.amazonaws.com/users/41738/screenshots/659951/dad-faces.jpg",
                "http://tympanus.net/Development/Stapel/images/7/8.jpg",
                "http://tympanus.net/Development/Stapel/images/3/4.jpg"
    ]  %>
                
        <div class="col col-lg-6 contain-box-2  order-2">
    <div class="">



            <ul class="list-unstyled collage wow fadeInLeft">

              <% collage.each do |image| %>
                <a class="sizer" href="#">
                  <li class="media">
                    <img src="<%= image %>" alt="Photo">
                  </li>
                </a>
              <% end %>
            </ul>

          </div>
        </div>
      </div>
      </div>

    </div>
  </section>
  <section class="page-sectin">
    <!-- #about -->
    <%= render 'shared/components/cta' %>
  </section>

  <%= render 'shared/footer' %>

  <!-- #hero -->

  <!-- animation moving hand with indicator finger swiping down to indicate User Swipe Down swipe down svg, CSS, or JS -->
