<!--========================== About Us Section ============================-->


    <div class="collage wow fadeInLeft">
      <!-- Top Set -->
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/6/7.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/4/14.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://dribbble.s3.amazonaws.com/users/41738/screenshots/659951/dad-faces.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/7/8.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/3/4.jpg" alt="Collage Photo">
      </a>
    </div>


<!-- #about -->
     <% collage = [
                    "http://tympanus.net/Development/Stapel/images/6/7.jpg",
                    "http://tympanus.net/Development/Stapel/images/4/14.jpg",
                    "http://dribbble.s3.amazonaws.com/users/41738/screenshots/659951/dad-faces.jpg",
                    "http://tympanus.net/Development/Stapel/images/7/8.jpg",
                    "http://tympanus.net/Development/Stapel/images/3/4.jpg"
                    ]  %>
        <%# <div class="col col-lg-6 order-lg-2 order-2 wow fadeInRight collage"> %>
        <div class="col-md-6  col-sm-4 order-2" >
          <%# <div class="container"> %>

              <div class="collage wow fadeInLeft">
            <ul class="list-unstyled">

              <% collage.each do |image| %>
                <a class="sizer" href="#">
                  <li class="media">
                    <img src="<%= image %>"  collage="Collage"  alt="photo">
                  </li>
                </a>
              <% end %>
            </ul>

          </div>
        </div>