<!--========================== About Us Section ============================-->


    <div class="collage wow fadeInLeft">
      <!-- Top Set -->
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/6/7.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/4/14.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://dribbble.s3.amazonaws.com/users/41738/screenshots/659951/dad-faces.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/7/8.jpg" alt="Collage Photo">
      </a>
      <a href="#">
        <img src="http://tympanus.net/Development/Stapel/images/3/4.jpg" alt="Collage Photo">
      </a>
    </div>


<!-- #about -->
